In [1]:
from sklearn import tree
import numpy as np
import pandas as pd
df=pd.read_excel(r"C:\Users\rcm1\Documents\PATTERN_ANALYSIS\nodes_out_extended_tree.xlsx")
df=df.iloc[:,1:103]
listc=df.columns
listc

Index(['Row Labels', 'Target', '202110_int', '202111_int', '202112_int',
       'Q1_int', 'Q2_int', 'Q3_int', 'Q4_int', 'half_yearly_1_int',
       ...
       '202110_Repeat', '202111_Repeat', '202112_Repeat', 'Q1_Repeat',
       'Q2_Repeat', 'Q3_Repeat', 'Q4_Repeat', 'half_yearly_1_Repeat',
       'half_yearly_2_Repeat', 'Yearly_Repeat'],
      dtype='object', length=102)

In [2]:
Y=df.iloc[:,1:2]
totalIVlist=[]
colname=[]
for l in range(2,101):
    X=df.iloc[:,l:l+1]
    df_=pd.merge(Y,X,left_index=True,right_index=True)
    list1=[]
    count0list=[]
    count1list=[]
    for i,j in df_.iterrows():
        count0=0
        count1=0
        a=j[listc[l]]
        if j[listc[l]] in list1:
            pass
        else:
            list1.append(a)
            for b,z in df_.iterrows():
                if a==z[listc[l]]:
                    if z['Target']==0:
                        count0=count0+1
                    else:
                        count1=count1+1
            count0list.append(count0)
            count1list.append(count1)
    pivot=pd.DataFrame({'nodes':list1,'0':count0list,'1':count1list})
    pivot=pivot.sort_values(by=['nodes'])
    pivot['Grand Total']=pivot['0']+pivot['1']
    pivot['percent_G']=pivot['0']/pivot['Grand Total']
    pivot['% of Good']=pivot['0']/86
    pivot['percent_B']=pivot['1']/pivot['Grand Total']
    pivot['% of Bad']=pivot['1']/21
    pivot['%G-%B']=pivot['% of Bad']-pivot['% of Good']
    pivot['WOE']=np.log(pivot['% of Bad']/pivot['% of Good'])
    pivot['IV']=pivot['WOE']*pivot['%G-%B']
    pivot.replace([np.inf, -np.inf], np.nan, inplace=True)
    totalIV=pivot['IV'].sum()
    totalIVlist.append(totalIV)
    colname.append(listc[l])
table=pd.DataFrame({'name':colname,'IV':totalIVlist})
table

C:\Users\rcm1\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\series.py:853: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

                    name        IV
0             202110_int  0.359145
1             202111_int  0.993008
2             202112_int  1.260573
3                 Q1_int  0.343425
4                 Q2_int  0.716790
..                   ...       ...
94             Q2_Repeat  0.986588
95             Q3_Repeat  2.023373
96             Q4_Repeat  1.661484
97  half_yearly_1_Repeat  1.534607
98  half_yearly_2_Repeat  2.326909

[99 rows x 2 columns]

strong_feat = table.where(table['IV'] >0.35)

strong_feat = strong_feat.dropna()

In [4]:
table.to_excel('IV_Value_Tab.xlsx')

# EXTRA LOOP
list1=[]
count0list=[]
count1list=[]
for i,j in df_.iterrows():
    count0=0
    count1=0
    a=j['202110_int']
    if j['202110_int'] in list1:
        pass
    else:
        list1.append(a)
        for b,z in df_.iterrows():
            if a==z['202110_int']:
                if z['Target']==0:
                    count0=count0+1
                else:
                    count1=count1+1
        count0list.append(count0)
        count1list.append(count1)
pivot=pd.DataFrame({'nodes':list1,'0':count0list,'1':count1list})
pivot=pivot.sort_values(by=['nodes'])

In [6]:
pivot['Grand Total']=pivot['0']+pivot['1']
pivot['percent_G']=pivot['0']/pivot['Grand Total']
pivot['% of Good']=pivot['0']/86
pivot['percent_B']=pivot['1']/pivot['Grand Total']
pivot['% of Bad']=pivot['1']/21
pivot['%G-%B']=pivot['% of Bad']-pivot['% of Good']
pivot['WOE']=np.log(pivot['% of Bad']/pivot['% of Good'])
pivot['IV']=pivot['WOE']*pivot['%G-%B']
pivot.replace([np.inf, -np.inf], np.nan, inplace=True)
totalIV=pivot['IV'].sum()
totalIV

C:\Users\rcmlp.22\Anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0.3591454560141978