In [1]:
import pandas as pd

In [2]:
import xlrd

In [3]:
df = pd.ExcelFile(r'C:\Users\rcmlp.12\Desktop\Rahul_control_charts_int_mirep_29_July_new\PIREP\Q1\pirep_Data_Q1.xlsx')

In [4]:
df.sheet_names

['MAIN_PIVOT',
 'MAIN_TABLE',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '32',
 '34',
 '36']

In [5]:
df.parse('MAIN_TABLE')

      CHAPTER AC_REG_NUMBER AC_MODEL  MONTH_CODE  CYCLES  PIREP
0           2        N249BA     B747      202201       1      0
1           2        N249BA     B747      202202       1      0
2           2        N249BA     B747      202203      10      0
3           2        N263SG     B747      202201       5      0
4           2        N263SG     B747      202202       2      0
...       ...           ...      ...         ...     ...    ...
5656       80        N858GT     B747      202202      58      0
5657       80        N858GT     B747      202203      67      0
5658       80        N859GT     B747      202201      55      0
5659       80        N859GT     B747      202202      51      0
5660       80        N859GT     B747      202203      68      0

[5661 rows x 6 columns]

In [7]:
df.parse('MAIN_TABLE').dtypes

CHAPTER           int64
AC_REG_NUMBER    object
AC_MODEL         object
MONTH_CODE        int64
CYCLES            int64
PIREP             int64
dtype: object

In [8]:
df9=df.parse('MAIN_TABLE')

In [9]:
df9

      CHAPTER AC_REG_NUMBER AC_MODEL  MONTH_CODE  CYCLES  PIREP
0           2        N249BA     B747      202201       1      0
1           2        N249BA     B747      202202       1      0
2           2        N249BA     B747      202203      10      0
3           2        N263SG     B747      202201       5      0
4           2        N263SG     B747      202202       2      0
...       ...           ...      ...         ...     ...    ...
5656       80        N858GT     B747      202202      58      0
5657       80        N858GT     B747      202203      67      0
5658       80        N859GT     B747      202201      55      0
5659       80        N859GT     B747      202202      51      0
5660       80        N859GT     B747      202203      68      0

[5661 rows x 6 columns]

In [10]:
df9.loc[0]

CHAPTER               2
AC_REG_NUMBER    N249BA
AC_MODEL           B747
MONTH_CODE       202201
CYCLES                1
PIREP                 0
Name: 0, dtype: object

In [11]:
df9.loc[1]

CHAPTER               2
AC_REG_NUMBER    N249BA
AC_MODEL           B747
MONTH_CODE       202202
CYCLES                1
PIREP                 0
Name: 1, dtype: object

In [12]:
df9.loc[11]

CHAPTER               2
AC_REG_NUMBER    N404KZ
AC_MODEL           B747
MONTH_CODE       202203
CYCLES               51
PIREP                 0
Name: 11, dtype: object

In [13]:
df9.loc[3]

CHAPTER               2
AC_REG_NUMBER    N263SG
AC_MODEL           B747
MONTH_CODE       202201
CYCLES                5
PIREP                 0
Name: 3, dtype: object

In [15]:
df9.loc[[1,3]]

   CHAPTER AC_REG_NUMBER AC_MODEL  MONTH_CODE  CYCLES  PIREP
1        2        N249BA     B747      202202       1      0
3        2        N263SG     B747      202201       5      0

In [16]:
df9.loc[[2,4]]

   CHAPTER AC_REG_NUMBER AC_MODEL  MONTH_CODE  CYCLES  PIREP
2        2        N249BA     B747      202203      10      0
4        2        N263SG     B747      202202       2      0

In [17]:
df9.loc[4,"AC_REG_NUMBER"]

'N263SG'

In [18]:
df9.loc[0:4,"AC_REG_NUMBER"]

0    N249BA
1    N249BA
2    N249BA
3    N263SG
4    N263SG
Name: AC_REG_NUMBER, dtype: object

In [21]:
df9.loc[0:4,"CYCLES"]

0     1
1     1
2    10
3     5
4     2
Name: CYCLES, dtype: int64

In [22]:
df9.iloc[0]

CHAPTER               2
AC_REG_NUMBER    N249BA
AC_MODEL           B747
MONTH_CODE       202201
CYCLES                1
PIREP                 0
Name: 0, dtype: object

In [23]:
df9.iloc[[0]]

   CHAPTER AC_REG_NUMBER AC_MODEL  MONTH_CODE  CYCLES  PIREP
0        2        N249BA     B747      202201       1      0

In [25]:
df9.iloc[:,0]

0        2
1        2
2        2
3        2
4        2
        ..
5656    80
5657    80
5658    80
5659    80
5660    80
Name: CHAPTER, Length: 5661, dtype: int64

In [29]:
df9.iloc[[0,20]]

    CHAPTER AC_REG_NUMBER AC_MODEL  MONTH_CODE  CYCLES  PIREP
0         2        N249BA     B747      202201       1      0
20        2        N408MC     B747      202202      23      0

In [31]:
df9

      CHAPTER AC_REG_NUMBER AC_MODEL  MONTH_CODE  CYCLES  PIREP
0           2        N249BA     B747      202201       1      0
1           2        N249BA     B747      202202       1      0
2           2        N249BA     B747      202203      10      0
3           2        N263SG     B747      202201       5      0
4           2        N263SG     B747      202202       2      0
...       ...           ...      ...         ...     ...    ...
5656       80        N858GT     B747      202202      58      0
5657       80        N858GT     B747      202203      67      0
5658       80        N859GT     B747      202201      55      0
5659       80        N859GT     B747      202202      51      0
5660       80        N859GT     B747      202203      68      0

[5661 rows x 6 columns]